<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "projects-header.html" . }}

	<section class="blog section">
	    <div class="container">
		<div class="row">
		    {{ range (.Paginator 6).Pages.ByDate }}
		    {{ if eq .Type "concepts"}}
		    <div class="col-md-6">
			<article class="blog-post">
			    {{ if isset .Params "image" }}
			    <a class="post-title" href="{{ .Params.LATESTurl }}">
				<img src="{{ .Params.image | absURL }}" class="img-responsive" alt="post-thumb">
			    </a>
			    {{ end }}
			    {{ if isset .Params "altimage" }}
			    {{ .Params.altimage | absURL }}
			    {{ end }}
			    <a class="post-title" href="{{ .Params.PRJurl }}">{{ .Title }}</a>
			    <p>
				{{ partial "summary" .}}
			    </p>
			    <div class="dropdown">
				<button class="btn btn-main dropdown-toggle"type="button"
					id="dropdownMenu1" data-toggle="dropdown">
				    {{ .Params.btntxt }}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation">
					<a role="menuitem" tabindex="-1"
					   href="{{ .Params.LATESTurl }}/index.html">{{ .Params.LATESTtxt }}
					</a>
				    </li>
				    <li class="divider"></li>
				    <li role="presentation">
					<a role="menuitem" tabindex="-1"
					   href="{{ .Params.DOCSMASTERurl }}/index.html">{{ .Params.DOCSMASTERtxt }}
					</a>
				    </li>
				    <li role="presentation">
					<a role="menuitem" tabindex="-1"
					   href="{{ .Params.DOCS1901url }}/index.html">{{ .Params.DOCS1901txt }}
					</a>
				    </li>
				</ul>
			    </div>
			</article>
		    </div>
		    {{ end }}
		    {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>
	</section>
	
	{{ partial "footer.html" . }}
    </body>
</html>
